---
import Card from "@/components/Card.astro";
import Layout from "@/layouts/Layout.astro";
import { caseStudies } from "@/resources/case-studies";
import { expertise } from "@/resources/expertise";
---

<Layout>
  <h1 class="sr-only">India Nagy's Portfolio</h1>

  <aside class="mb-10 md:flex md:items-start md:gap-x-20 lg:gap-x-40">
    <p class="mb-4 font-serif text-xl text-muted-foreground md:text-2xl">
      Art Director & Graphic Designer
    </p>
    <nav aria-label="secondary navigation" class="md:min-w-[28rem]">
      <ul class="grid auto-cols-min grid-cols-1 gap-x-6 gap-y-2 sm:grid-cols-2">
        {
          expertise.map(({ label, href }) => (
            <li>
              <a href={href} class="hover:underline">
                {label}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </aside>

  <section class="mx-4 mb-10">
    <h2 class="text-muted-foreground">Case Studies</h2>
    <ul class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-3">
      {
        caseStudies.map(({ label, imgSrc, href }) => (
          <Card label={label} href={href} imgSrc={imgSrc} />
        ))
      }
    </ul>
  </section>

  <section class="mx-4 mb-10">
    <h2 class="text-muted-foreground">Expertise</h2>
    <ul class="grid grid-cols-1 gap-8 sm:grid-cols-2">
      {
        expertise.map(({ label, imgSrc, href }) => (
          <Card label={label} href={href} imgSrc={imgSrc} />
        ))
      }
    </ul>
  </section>

  <aside>
    <p class="font-serif text-xl text-muted-foreground sm:w-3/6 sm:text-2xl">
      I am a graphic designer and art director with a passion for photography
      and illustration. I have experience in packaging, print, social media, and
      web design. I am currently available for freelance work.
    </p>
  </aside>
</Layout>
