---

import { Picture } from "astro:assets";

interface Props {
  label: string;
  href: string;
  imgSrc: string;
}

const { label, href, imgSrc } = Astro.props;
---

<li role="article">
  <div class="order-1">
    <h3>
      <a href={href} aria-label={`View ${label} case study`}>{label}</a>
    </h3>
  </div>
  <div class="overflow-hidden rounded-3xl">
    <Picture
      src={imgSrc}
      alt={label}
      sizes="(max-width: 640px) 100vw, 50vw"
      formats={["avif", "webp"]}
      fallbackFormat="jpg"
      quality={75}
      loading="lazy"
      inferSize
    />
  </div>
</li>

<style>
  @reference "@/styles/global.css";

  li {
    @apply focus-within:border-muted-foreground relative flex flex-col rounded-lg border border-transparent p-1 transition duration-300 ease-in-out motion-safe:hover:scale-[1.03];
  }

  h3 > a {
    @apply after:absolute after:inset-0 hover:no-underline focus:outline-none;
  }
</style>
