---
import type { Section as Props } from "@/resources/types";

import { Picture } from "astro:assets";

const { label, images, videos } = Astro.props;
---

<h2 class="mt-10">{label}</h2>

{
  videos ? (
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2">
      {videos.map((video) => (
        <video
          class="aspect-video h-auto w-full"
          aria-label="Video description"
          poster={`${import.meta.env.BASE_URL}videos/${video}.jpg`}
          controls
          preload="metadata"
        >
          <source
            src={`${import.meta.env.BASE_URL}videos/${video}.webm`}
            type="video/webm"
          />
          <source
            src={`${import.meta.env.BASE_URL}videos/${video}.mp4`}
            type="video/mp4"
          />
          <p>
            Your browser doesn't support HTML5 video. Here is a{" "}
            <a href={`${import.meta.env.BASE_URL}videos/${video}.mp4`}>
              link to the video
            </a>{" "}
            instead.
          </p>
        </video>
      ))}
    </div>
  ) : null
}

{
  images ? (
    <div class="flex flex-col gap-4 sm:gap-6">
      {images.map((imgSrc) => (
        <Picture src={imgSrc} alt={label} />
      ))}
    </div>
  ) : null
}
