---
import type { Section } from "@/resources/types";

import { Picture } from "astro:assets";

const getVideoUrl = (src: string, ext: string) =>
  `${import.meta.env.BASE_URL}videos/${src}.${ext}`;

type Props = Section;

const { label, images, videos } = Astro.props;
---

{label ? <h2 class="mt-10">{label}</h2> : <div class="mt-10" />}

{
  videos ? (
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3">
      {videos.map(({ src, alt }) => (
        <video
          class="aspect-video h-auto w-full"
          aria-label={alt}
          poster={getVideoUrl(src, "jpg")}
          controls
          preload="metadata"
        >
          <source src={getVideoUrl(src, "webm")} type="video/webm" />
          <source src={getVideoUrl(src, "mp4")} type="video/mp4" />
          <p>
            Your browser doesn't support HTML5 video. Here is a{" "}
            <a href={getVideoUrl(src, "mp4")}>link to the video</a>. Description
            for the video: {alt}
          </p>
        </video>
      ))}
    </div>
  ) : null
}

{
  images ? (
    <div class="flex flex-col gap-4 sm:gap-10">
      {images.map(({ src, alt }) => (
        <Picture
          src={src}
          alt={alt}
          widths={[768, 1280, 1536, 2560]}
          sizes="(max-width: 768px) 768px, 1280px"
          formats={["avif", "webp"]}
          loading="lazy"
          inferSize
        />
      ))}
    </div>
  ) : null
}
