---
import type { Section } from "@/resources/types";

import { Picture } from "astro:assets";

type Props = Section;

const { label, images, videos } = Astro.props;
---

{label ? <h2 class="mt-10">{label}</h2> : <div class="mt-10" />}

{
  videos ? (
    <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3">
      {videos.map((video) => (
        <video
          class="aspect-video h-auto w-full"
          aria-label=""
          poster={`${import.meta.env.BASE_URL}videos/${video}.jpg`}
          controls
          preload="metadata"
        >
          <source
            src={`${import.meta.env.BASE_URL}videos/${video}.webm`}
            type="video/webm"
          />
          <source
            src={`${import.meta.env.BASE_URL}videos/${video}.mp4`}
            type="video/mp4"
          />
          <p>
            Your browser doesn't support HTML5 video. Here is a{" "}
            <a href={`${import.meta.env.BASE_URL}videos/${video}.mp4`}>
              link to the video
            </a>{" "}
            instead.
          </p>
        </video>
      ))}
    </div>
  ) : null
}

{
  images ? (
    <div class="flex flex-col gap-4 sm:gap-10">
      {images.map((imgSrc) => (
        <Picture
          src={imgSrc}
          alt=""
          widths={[768, 1280, 1536, 2560]}
          sizes="(max-width: 768px) 768px, 1280px"
          formats={["avif", "webp"]}
          inferSize
        />
      ))}
    </div>
  ) : null
}
