---
import type { DetailMetadata } from "@/resources/types";

import DetailCredit from "@/components/DetailCredit.astro";
import DetailSection from "@/components/DetailSection.astro";
import Highlights from "@/components/Highlights.astro";
import Layout from "@/layouts/Layout.astro";
import { getDetailNavigation } from "@/resources/utils";

interface Props {
  category: string;
  details: DetailMetadata[];
  label: string;
}

const { category, details, label } = Astro.props;
const { current, previous, next } = getDetailNavigation(details, label);
---

<Layout
  title={`India Nagy | ${category} |  ${current.label}`}
  description={current.metaDescription}
>
  <h1>{current.label}</h1>

  <Highlights items={current.highlights} />
  <current.description />

  {current.sections.map((section) => <DetailSection {...section} />)}

  {current.credit ? <DetailCredit>{current.credit}</DetailCredit> : null}

  <nav class="mt-2 flex items-center justify-between py-4 sm:text-lg">
    {
      previous ? (
        <a href={previous.href} class="before:content-['<']">
          {previous.label}
        </a>
      ) : (
        <div />
      )
    }
    {
      next ? (
        <a href={next.href} class="after:content-['>']">
          {next.label}
        </a>
      ) : null
    }
  </nav>
</Layout>
