---
import "@fontsource/alice";
import "@fontsource-variable/work-sans";

import alice from "@fontsource/alice/files/alice-latin-400-normal.woff2?url";
import workSans from "@fontsource-variable/work-sans/files/work-sans-latin-wght-normal.woff2?url";

import "@/styles/global.css";

const BASE_URL = import.meta.env.BASE_URL;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={alice}
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={workSans}
      crossorigin="anonymous"
    />

    <link rel="icon" href={`${BASE_URL}favicon.ico`} sizes="32x32" />
    <link rel="apple-touch-icon" href={`${BASE_URL}apple-touch-icon.png`} />

    <meta name="generator" content={Astro.generator} />
    <title>India Nagy's Portfolio</title>
  </head>

  <body>
    <header class="mb-2 py-2 shadow-md md:mb-4 md:py-4">
      <nav
        class="site-width flex items-baseline justify-between"
        aria-label="primary navigation"
      >
        <a
          href={BASE_URL}
          class="font-serif text-2xl hover:no-underline md:text-5xl"
          >India Nagy</a
        >
        <ul class="flex gap-x-3.5 md:text-xl">
          <li>
            <a href={BASE_URL}>Work</a>
          </li>
          <li>
            <a href="#">About</a>
          </li>
          <li>
            <a href={`${BASE_URL}contact`}>Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="site-width">
      <slot />
    </main>
  </body>
</html>
