---
import "@fontsource-variable/work-sans";
import "@fontsource/alice";
import { Mail } from "lucide-react";
import { Phone } from "lucide-react";

import alice from "@fontsource/alice/files/alice-latin-400-normal.woff2?url";
import workSans from "@fontsource-variable/work-sans/files/work-sans-latin-wght-normal.woff2?url";

import "@/styles/global.css";

const SITE = import.meta.env.SITE;
const BASE_URL = import.meta.env.BASE_URL;
const SITE_NAME = "India Nagy’s Portfolio";
const TITLE = "India Nagy | Art Director & Graphic Designer";
const DESCRIPTION =
  "Creative and versatile Art Director and Graphic Designer with extensive experience shaping iconic brands. Passionate about storytelling, collaboration, and turning curiosity into impactful design solutions.";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={alice}
      crossorigin="anonymous"
    />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={workSans}
      crossorigin="anonymous"
    />

    <link rel="icon" href={`${BASE_URL}favicon.ico`} sizes="32x32" />
    <link rel="apple-touch-icon" href={`${BASE_URL}apple-touch-icon.png`} />

    <title>{SITE_NAME}</title>
    <meta name="description" content={DESCRIPTION} />
    <meta name="generator" content={Astro.generator} />

    <!-- Open Graph Tags -->
    <meta property="og:site_name" content={SITE_NAME} />
    <meta property="og:title" content={TITLE} />
    <meta property="og:description" content={DESCRIPTION} />
    <meta property="og:image" content="" />
    <meta property="og:url" content={SITE} />
    <meta property="og:type" content="website" />

    <!-- Twitter Tags -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content={TITLE} />
    <meta name="twitter:description" content={DESCRIPTION} />
    <meta name="twitter:url" content={SITE} />
  </head>

  <body>
    <header class="mb-2 py-2 shadow-lg md:mb-4 md:py-12">
      <nav
        class="site-width flex items-baseline justify-between"
        aria-label="primary navigation"
      >
        <a
          href={BASE_URL}
          class="font-serif text-2xl hover:no-underline md:text-3xl"
          >India Nagy</a
        >
        <ul class="flex gap-x-3.5">
          <li>
            <a href={BASE_URL}>Work</a>
          </li>
          <li>
            <a href={`${BASE_URL}about`}>About</a>
          </li>
          <li>
            <a href={`${BASE_URL}contact`}>Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <main class="site-width mt-6 sm:mt-8">
      <slot />
    </main>

    <footer class="mt-6 bg-secondary py-2">
      <div class="site-width my-4 space-y-4">
        <a
          href="mailto:indianagy@gmail.com"
          class="flex w-fit gap-2"
          rel="nofollow"
        >
          <Mail />
          <span>indianagy@gmail.com</span>
        </a>
        <a
          href="tel:+12063835468"
          aria-label="Call India at 206-383-5468"
          class="flex w-fit gap-2"
          rel="nofollow"
        >
          <Phone />
          <span>indianagy@gmail.com</span>
        </a>
        <p class="text-sm text-muted-foreground">
          © 2025 India Nagy. All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>
